################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Projects/AAX_InventLocationDimLink/.vs/AAX_InventLocationDimLink
/.vs/AAXWarehouseDimensionLink/v17
/.vs
/bin
/Resources
/XppMetadata/AAX Warehouse Dimension Link
/BuildModelResult.log
/BuildModelResult.xml
/BuildProjectResult.err.xml
/BuildProjectResult.log
/BuildProjectResult.xml
/CompileLabels.xml
